.header {
    display: flex;
    height: 117px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .section-header {
    margin-top: 20px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 535px;
    justify-content: space-evenly;
  }
  
  .header-logo {
    height: 115px;
    width: 115px;
    left: 100px;
    z-index: 999;
    top: 20px;
    border-radius: 25px;
  }
  
  .header-links {
    z-index: 200;
    display: flex;
    gap: 40px;
    margin-right: 60px;
  
    a {
      text-decoration: none;
      font-size: 23px;
      color: #5988ff;
      font-weight: 400;
  
      &:hover {
        filter: brightness(1.35);
      }
    }
  }
  
  .display-none {
    display: none;
  }
  
  .burger-menu-button {
    position: absolute;
    top: 50px;
    right: 45px;
    z-index: 100000;
  
    &:hover {
      cursor: pointer;
    }
  }

  .languages {
    &:hover {
      cursor: pointer;
    }
  }


  @media (max-width: 1500px) {
    .section-header{
      position: absolute;
      left: 37px;
      gap: 442px !important;
    }
  }


  @media (max-width: 1000px) {
    .header-logo {
        left: 55px;
        top: 10px;
    }
  }
  
  @media (max-width: 720px) {
    .section-header {
     gap: 320px!important;
    }

    .header-links {
      gap: 14px;
      margin-right: 34px;
    }

    .header-logo {
      left: 35px;
      height: 80px;
      width: 80px;
      top: 4px;
  }

  }
  
  @media only screen and (max-width: 550px) {

    .section-header {
      gap: 145px!important;
    }
    .header-links {
      display: none; /* Hier kannst du auch andere Stile für den Handymodus festlegen */
    }

    .burger-menu-button:hover {
      filter: brightness(1.35);
    }
  }

  @media (max-width: 450px) {
    .header-logo {
      left: 8px;
      height: 70px;
      width: 70px;
  }

  .burger-menu-button {
  right: 35px;
  }
  }
  
  // Burger-Menu
  
  .header-links-burger {
    display: flex;
    flex-direction: column;
    z-index: 200;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 200px;
  
    a {
      text-decoration: none;
      font-size: 23px;
      color: #5988ff;
      font-weight: 400;
  
      &:hover {
        filter: brightness(1.35);
      }
    }
  }
  
  .display-none {
    display: none;
  }
  
  .show-burger-menu {
    z-index: 10000;
    width: 100vw;
    background-color: white;
    position: absolute;
    height: 1000%;
    top: 0;
    transform: scale(1);
    transition: transform 500ms ease-in-out;
  }
  
  .hide-burger-menu {
    z-index: 10000;
    width: 100vw;
    background-color: white;
    position: absolute;
    height: 1000%;
    top: 0;
    transform: scale(0);
    transition: transform 500ms ease-in-out;
  }

 