.section-footer {
    display: flex;
    align-items: center;
    justify-content: unset;
    gap: 370px;
    max-width: 1440px;
}

.footer {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 291px;
  background: radial-gradient(
    71.18% 335.57% at 28.82% -124.4%,
    #5988ff 6.25%,
    #5988ff 51.56%,
    #0043f0 100%
  );

  img {
    height: 60px;
    border-radius: 10px;
  }

  }
  
  .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
  
    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
    }
  
    span {
      font-size: 23px;
    }
  }
  
  .footer-right {
    display: flex;
    gap: 42px;
  
    img {
      height: 30px;
      &:hover {
        filter: drop-shadow(5px 5px 12px rgb(220, 223, 230));
        cursor: pointer;
        transform: translate3d(5px, 5px, 5px);
        transition: 225ms ease;
      }
    }
  }

  a {
    &:hover{
      filter: drop-shadow(5px 5px 12px rgb(220, 223, 230));
      cursor: pointer;
      transform: translate3d(5px, 5px, 5px);
      transition: 225ms ease;
    }
  }

  @media (max-width: 1400px) {
    .footer {
      margin-top: 185px;
    }

    .section-footer {
      gap: 150px;
    }
  }

  @media (max-width: 1100px) {
    .footer {
      margin-top: 160px;
    }
  }

  @media (max-width: 900px) {
    .section-footer {
      gap: 100px;
    }

    .footer-right {
      gap: 10px;
      flex-direction: column;
    }
  }

  @media (max-width: 650px) {
  .section-footer {
    flex-direction: column;
    gap: 30px;
  }

  .footer-right {
    flex-direction: row;
  }
  }

  /* ImprintClicked = true*/

  @media (max-width: 1150px) {
    .imprint-clicked-true {
      margin-top: 280px!important;
    }
  }

  @media (max-width: 1000px) {
    .imprint-clicked-true {
      margin-top: 75px!important;
    }
  }

  @media (max-width: 850px) {
  .imprint-clicked-true {
    margin-top: 230px!important;
  }
}

@media (max-width: 650px) {
  .imprint-clicked-true {
    margin-top: 280px!important;
  }
}

  @media (max-width: 555px) {
    .imprint-clicked-true {
      margin-top: 450px!important;
    }
  }


@media (max-width: 450px) {
  .imprint-clicked-true {
    margin-top: 420px!important;
  }
}




