<section data-aos="zoom-in" id="aboutMe" class="about-me">
    <div class="font-family-baloo about-me-title-div">
      <h1 class="about-me-title">Let´s work <br>togehter</h1>
    </div>
  
   <img class="ellipse6" src="assets/images/ellipse6.png">
    <div class="about-me-right-section">
      <span>
        I am a Front-end developer based in Laupheim, Germany. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a junior web
        developer position. <br><br>
        If you think I’d be a good match for your projects,
        contact me!
      </span>
      <button class="button-message font-family-montserrat" src="assets/images/ButtonSendAMessage.png">Send a message</button>
    </div>
  </section>
