<section data-aos="zoom-in">
    <div class="contact-left">
        <h1 class="font-family-baloo">Contact</h1>
        <h2 class="font-family-montserrat">Got a problem to solve?</h2>
        <span class="font-family-montserrat">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
        <p class="font-family-montserrat">Need a Frontend developer?<b> Contact me!</b></p>
        <img src="assets/images/ellipse11.png">
        <div (click)="scrollToTop()" id="button-up"></div>
    </div>

    <form action="https://andreas-henner.developerakademie.net/send_mail/send_mail.php" method="post">
        <input required class="font-family-montserrat" placeholder="Your name" type="text" name="name">
        <input required class="font-family-montserrat" placeholder="Your email" type="email">
        <textarea required class="font-family-montserrat" placeholder="Your message" name="message" id=""></textarea>
        <button class="font-family-montserrat">Say hello ;)</button>
    </form>
    
</section>
