.my-work-div {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

  
    > img {
      position: relative;
      top: 230px;
      left: 150px;
    }
  }

  .ellipse5 {
    top: 100px!important;
  }
  
  .my-work {
    display: flex;
    flex-direction: column;
    margin-top: 810px;
    margin-left: -30px;
  
    > h1 {
      font-size: 121px;
      color: #5988ff;
    }
  
    > span {
      font-size: 23px;
      display: flex;
      width: 673px;
    }
  }
  
  .my-work-ellipse {
    margin-top: -70px;
  }
  
  @media (max-width: 1300px) {
    .my-work {
      display: flex;
      justify-content: space-evenly;
      margin-left: 335px;
  
      h1 {
        font-size: 75px;
      }
  
      span {
        font-size: 18px;
      }
    }
    img {
      z-index: -200;
      left: -235px !important;
    }
  }
  
  @media (max-width: 1000px) {
    .my-work-div {
      margin-top: 0;
    }
  }
  
  @media (max-width: 750px) {
  
    .my-work-div {
      margin-left: 25px;
  
      img {
        height: 70px;
      }
    }
    .my-work {
      margin-left: 62px;
      span {
        width: 400px;
      }
    }
  }
  
  @media (max-width: 450px) {
    .my-work {
      width: 278px;
      margin-left: 90px;
      h1 {
        font-size: 66px;
      }
  
      span {
        width: 285px;
      }
    }
  }