.show-imprint {
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2800;
    height: 100vh;
    background-color: white;
    left: 0px;
    position: relative;
    padding-top: 20px;
}

@media (max-width: 800px) {
    .show-imprint {
        height: 120vh;
    }
}

@media (max-width: 650px) {
    .show-imprint {
        height: 150vh;
    }
}

@media (max-width: 470px) {
    .show-imprint {
        height: 175vh;
    }
}

@media (max-width: 400px) {
    .show-imprint {
        height: 200vh;
    }
}

@media (max-width: 360px) {
    .show-imprint {
        height: 235vh;
    }
}