.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 911px;
  width: 100vw;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);

  h1 {
    color: #5988ff;
    left: 731px;
    line-height: 100px;
  }

  h2 {
    top: 227px;
    left: 731px;
    font-size: 64px;
    color: #5988ff;
  }
}

.title-image {
  margin-left: -230px;
}

.section-title {
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin-left: -150px;
}

.h1-german {
  font-size: 108px !important;
}

.h2-german {
  width: 605px;
}

.ellipse {
  width: 892px;
  height: 892px;
  margin-left: 65px;
  margin-top: -230px;
}

.title-under-div {
  align-items: center;
  gap: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -280px;
}

.h1-h2 {
  width: 530px;
  height: 221px;
  top: 210px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: -115px;
}

.font-size-h1-frontend {
  font-size: 128px;
  top: 305px;
}

.font-size-h1-developer {
  font-size: 118px;
  top: 416px;
}

.picture {
  width: 800px;
  height: 917px;
  z-index: 9990;
  border-radius: 20px;
  margin-top: -670px;
  margin-left: 215px;
}

.scroll {
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 466px;
  margin-left: -660px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.vector {
  position: absolute;
  top: 694px;
  left: 1034px;
}

.links-about-me {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: end;
  gap: 25px;
  margin-right: 20px;
  margin-top: -240px;

  img {
    &:hover {
      filter: drop-shadow(5px 5px 12px rgb(89, 136, 255, 1));
      cursor: pointer;
      transform: translate3d(5px, 5px, 5px);
      transition: 225ms ease;
    }
  }
}

.ellipse5 {
  z-index: 2000;
  margin-left: -1150px;
}

@media (max-width: 1500px) {
  h2 {
    margin-top: 100px;
    width: 535px;
    margin-left: -960px;
    color: white !important;
  }

  .font-size-h1-frontend {
    margin-top: 100px;
    margin-left: -960px;
    line-height: 0px !important;
    color: white !important;
  }

  .font-size-h1-developer {
    margin-top: 100px;
    margin-left: -960px;
    line-height: 0px !important;
    color: white !important;
  }

  .scroll {
    display: none;
  }

  .links-about-me {
    display: none;
  }

  .ellipse5 {
    margin-left: 94px;
    margin-top: 896px;
    z-index: 9999;
  }

  .picture {
    top: 1197px;
    width: 450px;
    height: 500px;
    left: -185px;
    position: absolute;
  }

  .h1-h2 {
    width: 135px;
    position: absolute;
    top: 25px;
    left: -50px;

    h2 {
      position: absolute;
      left: 1040px;
      top: 75px;
    }
  }

  .font-size-h1-frontend {
    color: white !important;
    position: absolute !important;
    top: 220px !important;
    left: 1035px !important;
  }

  .font-size-h1-developer {
    color: white !important;
    position: absolute !important;
    top: 318px !important;
    left: 1035px !important;
  }

  .ellipse {
    position: absolute;
    left: -276px;
    top: 180px;
    width: 892px;
  }

  .title-image {
    margin-left: 370px;
  }
}

@media (max-width: 1000px) {
  .ellipse5 {
    height: 148px;
    margin-left: -210px;
    margin-top: 825px;
  }
}

@media (max-width: 720px) {
  .title {
    height: 685px;
  }
  .ellipse {
    height: 612px;
    width: 612px;
  }

  .h2-german {
    width: 400px;
  }

  .h1-german {
    font-size: 52px !important;
  }

  .h1-h2 {
    top: -30px;
    left: -58px;
    h2 {
      font-size: 38px;
      width: 359px;
    }

    h1 {
      font-size: 68px;
    }
  }

  .font-size-h1-frontend {
    top: 180px !important;
  }

  .font-size-h1-developer {
    top: 240px !important;
  }

  .picture {
    top: 972px;
    width: 380px;
  }

  .ellipse5 {
    height: 148px;
    margin-left: -54px;
    margin-top: 615px;
  }
}

@media (max-width: 450px) {
  .ellipse {
    height: 580px;
    width: 510px;
  }

  .h1-h2 {
   
    h2 {
     font-size: 28px;
     width: 265px!important;
    }
  }

  .h1-german {
    font-size: 40px!important;
  }

  .section-title-german {
    margin-left: -72px!important;
  }

  .font-size-h1-frontend {
   font-size: 48px!important;
   top: 155px!important;
  }

  .font-size-h1-developer {
    font-size: 45px!important;
    top: 200px!important;
  }

  .title {
    height: 585px;
   
  }

  .picture {
    margin-left: 190px;
    height: 400px;
    width: 320px;
  }

  .ellipse5 {
    height: 116px;
    margin-left: -130px;
    margin-top: 529px;
  }
}
